@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-size: 1.6rem;
}

.container, 
.container-2 ,
.container-3 {
    max-width: 960px;
    margin:0 auto;
}

/*
.one-third {
display: block;
float: left;
width: 33.33333%;
padding-left: 20px;
}

.one-third:first-child {
padding-left: 0;
}
*/

.card {
    display: inline-block;
    float: left;
    width: 30.33333%;
    margin:0 1% 10px 1%;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #DFDFDF;
    border-radius: 2px;
    overflow: hidden;
}

.card-image {
    display: block;
    width: 100%;
    max-height: 250px;
    overflow: hidden;
}

.card-image img {
    display: block;
    width: 100%;
    height: auto;
}

.card-content {
    display: block;
    font-size: 24px;
    margin: 0;
    padding: 20px;
}
